#gioiThieu{
    background-color: #d4e9e2;
    height: 400px;
    width: 100%;
    position: relative;
}
#gioiThieu .anh{
    position: absolute;
width: 600px;
height: 400px;
padding-left: 1129px;   
}
#gioiThieu .G{
    top: 50px;
    padding-right: 600px;
    text-align: center;
    margin: 10px;
    position: relative;
}

#gioiThieu h2{
    position: relative;
    margin:30px 150px;
	color: #105625;
	font-size: 50px;
	font-family: 'Permanent Marker', cursive;
}
#gioiThieu p{
    position: relative;
	margin:20px 150px;
	color:black;
	font-size: 30px;
	font-family: 'Signika', sans-serif;
}